.card{

    height: auto;
    width: 98%; /*was 750px*/ 
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 10px 20px 20px;
    margin: 15px;
    
}


.card:hover{
    background-color: #E2E7E9;
    cursor: pointer;
}


.card-header{
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.dformat{
    display: inline-block;
    margin-left: 20px;
}

.comment-info{
    margin: 10px;
    padding: 20px;
    white-space: initial;
    word-wrap: break-word;
    word-wrap: initial;
}

.card-body{
    margin-bottom: 20px;
    
    white-space: initial;
    word-wrap: break-word;
    word-wrap: initial;
    z-index: -5;
 }

.card-body > h3{
   padding: 10px 0;
   white-space: initial;
   word-wrap: break-word;
   word-wrap: initial;
}



.card-body > img{
    max-height: 100%;
    max-width: 100%;
    
}

.material-symbols-outlined{

    color: rgb(0, 0, 0);
    padding: 7px;
    font-size: 18px;
}

.rotate{
    transform: rotate(180deg);
}

.vote{
    display: flex;
    background-color: #a5adb181;
    border-radius: 20px;
    margin-right: 20px;
    align-items: center;
    z-index: 2;
    padding-left: 9px;
    padding-right: 9px;

}

.card-footer{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

hr{
    margin: 1px 15px;
}

p{
    white-space: initial;
    word-wrap: break-word;
    word-wrap: initial;
 }
